* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
   /*  display: flex;
    justify-content: center; */
    background: lightgray;
}

#main {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    flex-wrap: wrap;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
}

#title h1 {
    justify-content: center;
    width: 100%;
    border: 1px solid blue;
}

#title p {
    border: 1px solid green;
}
